name: CI

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MIX_ENV: test
  OTP_VERSION: '25.3'
  ELIXIR_VERSION: '1.14.3'

jobs:
  workflow:
    name: Workflow
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ env.OTP_VERSION }}
        elixir-version: ${{ env.ELIXIR_VERSION }}
    - name: Set up cache
      uses: actions/cache@v3
      id: mix-cache
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-mix-${{ env.OTP_VERSION }}-${{ env.ELIXIR_VERSION }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-mix-
    - name: Get deps
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: mix deps.get
    - name: Compile deps
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: mix deps.compile
    - name: Check unused deps
      run: mix deps.unlock --check-unused
    - name: Compile
      run: mix compile --force --warnings-as-errors
    - name: Check format
      run: mix format --check-formatted
    - name: Run tests
      run: mix test --trace
      
